* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-weight: 300;
  background-color: #1E1D20;
}

:global(#container) {
  width: 100%;
}
