* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    font-weight: 300;
    background-color: #1E1D20;
    min-height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
}

:global(#container) {
    width: 100%;
    min-height: 100%;
}

:global(#app) {
    margin: 0;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #3A3A3A;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3A3A3A;
}
::-webkit-scrollbar-thumb:active {
    background: #3A3A3A;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0);
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.0);
}
::-webkit-scrollbar-track:active {
    background: rgba(0, 0, 0, 0.0);
}
::-webkit-scrollbar-corner {
    background: transparent;
}
